# SPDX-FileCopyrightText: The unnest authors
# SPDX-License-Identifier: CC0-1.0

# yaml-language-server: $schema=https://json.schemastore.org/github-workflow

name: security-audit

permissions:
  contents: read

on:
  push:
    paths:
      - "**/Cargo.toml"
  #schedule:
  #  - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  security-audit:
    runs-on: ubuntu-latest
    steps:
      # TODO: Remove manual installation of toolchain after
      # https://github.com/actions-rs/audit-check/issues/215
      # has been resolved.
      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable

      - uses: actions/checkout@v3

      - name: Generate Cargo.lock
        run: cargo generate-lockfile

      - name: Cache Rust toolchain and build artifacts
        uses: Swatinem/rust-cache@v2
        with:
          # Distinguished by the action name to avoid sharing across different actions!
          shared-key: "security-audit"

      - name: Run security audit
        run: |
          cargo audit --deny unsound --deny yanked
